<div *ngIf="voteData" class="card" [ngStyle]="{'background-image': getBackgroundImage()}">
  <section class="card__content">
    <div class="card__content__title">
      <div class="card__content__title__icon">
        <img [src]="nameIcon" [id]="'cardImg-' + idIndex"/>
      </div>
      <h2 class="card__content__title__text">
        {{voteData.title}}
      </h2>
    </div>
    <small class="card__content__sub-title">{{voteData?.subTitle}}</small>
    <p class="card__content__info" [id]="'cardContentInfo-' + idIndex">
      {{getTextInfo()}}
    </p>
    <div class="card__content__actions">
      <app-thumbs-radio
        *ngIf="!voteAgain"
        [id]="'thumbsRadio-' + idIndex"
        [idThumbUp]="'radioThumbUp-' + idIndex"
        [idThumbDown]="'radioThumbDown-' + idIndex"
        [nameThumb]="'radioThumb-' + idIndex"
        [checkedThumb]="checkedThumb"
        (thumbSelected)="thumbSelected($event)"
      ></app-thumbs-radio>
      <app-light-button
        [idButton]="'voteBtn-' + idIndex"
        [text]="voteAgain ? 'Vote again' : 'Vote now'"
        (click)="vote()"
      ></app-light-button>
    </div>
  </section>
  <div class="card__results">
    <app-votes-result-bar
      [resultBarLeft]="'resultBarLeft-' + idIndex"
      [resultBarRigth]="'resultBarRigth-' + idIndex"
      [likeQuantity]="voteData.like"
      [unLikeQuantity]="voteData.unlike"
    ></app-votes-result-bar>
  </div>
</div>
