<div class="card" style="background-image: url('assets/img/kanye-west.jpg');">
  <section class="card__content">
    <h2 class="card__content__title">
      <span><img src="assets/icons/thumb-up-small.svg"/></span>
      Kanye West
    </h2>
    <small class="card__content__sub-title">1 month ago in Entretaiment</small>
    <p class="card__content__info">Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.</p>
    <div class="card__content__actions">
      <img src="assets/icons/thumb-up-small.svg"/>
      <img src="assets/icons/thumb-down-small.svg"/>
      <button>Vote now</button>
    </div>
    <div class="card__content__results">Barra de botacion</div>
  </section>
</div>
