<article class="info-card">
  <div class="info-card__content">
    <div class="info-card__content__title">
      <small>What's your opinion on?</small>
      <h1 class="info-card__content__title__text">Pope Francis?</h1>
    </div>
    <p class="info-card__content__description">He’s talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up) </p>
    <div class="info-card__content__reference"><img src="assets/icons/wiki.svg"/> <small>More information</small></div>
    <p class="info-card__content__vote">What's Your Veredict?</p>
  </div>
  <div class="info-card__actions">
    <app-thumbs-radio class="big" [checkedThumb]="'up'"></app-thumbs-radio>    
  </div>
</article>