@import "mixins";

.info-card {
  max-width: 435px;
  color: #fff;
  backdrop-filter: blur(14px);
  background-color: rgba(130, 130, 130, 0.7);
  font-size: 1rem;  
  &__content {
    padding: 10px;
    &__title {
      &__text {
        margin: 0;
        font-size: 2rem;
      }
    }
    &__reference {
      text-decoration: underline;
      cursor: pointer;
      display: flex;
      gap: 5px;
    }
    &__vote {
      margin-bottom: 0px;
    }
  }

  @include mq-up(sm) {
    &__content {
      font-size: 1.2rem;
      padding: 30px;
      &__title {
        &__text {
          font-size: 3rem;
        }
      }
      &__vote {
        margin-bottom: 20px;
      }
    }
  }
}
