.nav-bar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
  padding: 50px;
  & a {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #D5D5D5;
      box-shadow: 1px 1px #d5d5d5;
    }
  }

  &__title {
    font-size: 1.8rem;
  }

  &__options {
    display: flex;
    gap: 40px;
  }
}