@import "mixins";

.nav-bar {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
  padding: 50px;
  gap: 20px;
  
  @include mq-up(sm) {
    flex-direction: row;
    justify-content: space-between;
  }

  & a {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #D5D5D5;
      box-shadow: 1px 1px #d5d5d5;
    }
  }

  &__title {
    font-size: 1.8rem;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    @include mq-up(sm) {
      flex-direction: row;
      gap: 40px;
    }
  }
}

.active-opt {
  color: #D5D5D5;
  box-shadow: 2px 2px #d5d5d5;
}
