@import "mixins";

$margin-content: 40px;
$max-width-card: 493px;

.card {  
  width: 100vw;
  max-width: $max-width-card;
  min-height: 550px;
  box-shadow: 1px 1px 5px 1px rgb(232 232 232);
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;

  &__content {
    position: relative;
    top: 200px;
    margin: 0 $margin-content;
    color: #fff;

    @include mq-up(sm) {
      top: 250px;
    }

    &__title {
      display: flex;
      align-items: center; 
      &__icon {
        position: absolute;
        left: -$margin-content; 
        &__space {
          margin-left: $margin-content - 9px;
        }
      }
      
      &__text {
        font-size: 2.5rem;
        font-weight: 100;
        margin: 0;
      }
    }
    &__sub-title {
    }
    &__info {
  
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  &__results {
    margin-top: auto;
  }
}
