@import "mixins";

.main-header {
  background-position: center;
  background-repeat: no-repeat;
  height: 100vw;
  max-height: 740px;
  min-height: 550px;

  @include mq-up(lg) {
    background-position: initial;
  }
}
