.radio-btns__element__item { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-btns__element__item + img {
  cursor: pointer;
}

.radio-btns__element__item:checked + img {
  outline: 2px solid #fff;
}

.radio-btns {
  display: flex;
  gap: 10px;
  &__element {
    &:hover {
      opacity: 70%;
    }
  }
}
