<div class="radio-btns">
  <label [id]="idThumbUp" class="radio-btns__element radio-btns__element--like">
    <input
      type="radio"
      [name]="nameThumb"
      value="small"
      class="radio-btns__element__item"
      (change)="changeThumbSelected(checkedThumbUp)"
      [checked]="checkedThumb === checkedThumbUp"
    />
    <img src="assets/icons/thumb-up-small.svg" class="radio-btns__element--like__image"/>
  </label>

  <label [id]="idThumbDown" class="radio-btns__element radio-btns__element--dislike">
    <input
      type="radio"
      [name]="nameThumb"
      value="big"
      class="radio-btns__element__item"
      (change)="changeThumbSelected(checkedThumbDown)"
      [checked]="checkedThumb === checkedThumbDown"
    />
    <img src="assets/icons/thumb-down-small.svg" class="radio-btns__element--dislike__image"/>
  </label>
</div>
