.result-bar {
  display: flex;
  opacity: 75%;
  &__left, &__rigth {    
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    &__text {
      color: #fff;
      font-size: 2rem;
    }
  }
  &__left {
    background-color: var(--soft-color);
    &__icon {
      margin-left: 10px;
    }
  }
  &__rigth {
    background-color: var(--strong-color);    
    justify-content: flex-end;    
    &__icon {
      margin-right: 10px;
    }
  }  
}